# since I name testing files starting with test
test*
!test/
!test/**

# temporary files created during testing
test/end_to_end/test_actual_out.ttl
test/end_to_end/test_actual_out.ttl.data_and_urls.json

# since these don't need to be committed
env/
**/__pycache__/
