beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2024.7.4
chardet==3.0.4
click==7.1.2
click-option-group==0.5.1
cycler==0.10.0
idna==3.7
importlib-metadata==1.7.0
isodate==0.6.0
joblib==1.2.0
kiwisolver==1.2.0
Markdown==3.2.2
matplotlib==3.2.2
nltk==3.6.6
numpy==1.22.0
pandas==1.0.5
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.4
rdflib==5.0.0
rdflib-jsonld==0.5.0
regex==2020.6.8
requests==2.32.0
scikit-learn==1.5.0
scipy==1.10.0
six==1.15.0
-e git+https://github.com/AidanKelley/somef.git@c176409d7bea4e1dfa1d4046d45a9ec5924ed7dd#egg=somef
soupsieve==2.0.1
SPARQLWrapper==1.8.5
tabulate==0.8.7
textblob==0.15.3
threadpoolctl==2.1.0
tqdm==4.66.3
urllib3==1.26.19
zipp==3.1.0
